<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>366848001238-5p7fgmvle7tti1g9jr6t3h78qc9tcbob.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366848001238-5p7fgmvle7tti1g9jr6t3h78qc9tcbob</string>
	<key>API_KEY</key>
	<string>AIzaSyCvzqbsL-0qjcP1dFwxEPGwbJjXe1XqyRw</string>
	<key>GCM_SENDER_ID</key>
	<string>366848001238</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.SimpleMessagingApp</string>
	<key>PROJECT_ID</key>
	<string>simplemessagingapp-8f656</string>
	<key>STORAGE_BUCKET</key>
	<string>simplemessagingapp-8f656.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366848001238:ios:fbd4605897ae2bd7c23577</string>
	<key>DATABASE_URL</key>
	<string>https://simplemessagingapp-8f656.firebaseio.com</string>
</dict>
</plist>